body
{
    font-family: 'Roboto',sans-serif;
}
.list {
    list-style: none;
}

.logo{
    background-color: #ffff;
}
.logo-text{
    text-decoration: none;
}
.logo-go{
    text-decoration: none;
}
.logo-list-item{
    text-decoration: none;
}
.contacts-mail{
    text-decoration: none;
}
.contacts-tel{
    text-decoration: none;
}
.end-address{
    text-decoration: none;
}
.end-meil{
    text-decoration: none;
}
.end-tel{
    text-decoration: none;
}
.logo{
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.logo-titel{
    font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
        color: #2196F3;
}
.logo-pre{
font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-list{
    display: flex;
} 
.logo-item:not(:last-child){
    margin-right: 50px;
}
.header-container{
    display: flex;
    align-items: center;
}
.logo-text{
    margin-right: 93px;
}

.logo-list-item{
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
         color: #212121;
}

.logo-list-item:hover{
    color: #2196F3;
}
.contacts-list{
    display: flex;
}
.header-cont{
    margin-left: auto;
}

.contacts-mail{
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: #757575;
}
.contacts-mail:hover{
    color: #2196F3;
}
.contacts-tel{
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: #757575;
        margin-left: 30px;
}
.contacts-tel:hover{
    color: #2196F3;
}
.hero{
    background-color: #2F303A;
    text-align: center;

}
.container-osnov{
    margin-left: auto;
    margin-right: auto;
        width: 1200px;
        height: 600px;
        left: 0px;
        top: 80px;
}
.osnov-title{
    width: 696px;
    margin-bottom: 30px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
}
.osnov-btn{
   padding: 10px 32px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   border: transparent;
    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.info{
    padding-top: 94px;
}
.container-info{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;

}
.info-list{
    display: flex;

}
.info-item{
    margin-right: 30px;
    
}

.info-title{
    font-weight: 700;
    font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
         margin-bottom: 10px;
    
}
.info-pre-item{
    font-weight: 400;
    font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: #757575;
}

.robota-titel{
    font-weight: 700;
    font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 50px;
}

.robota{
    padding-top: 94px;
    padding-bottom: 94px;
}
.robota-list{
    display: flex;
    justify-content: center;
}
.robota-item{
    margin-right: 30px;
}
.team{
    background-color: #F5F4FA;
}
.container-team{
    background-color: #F5F4FA;
}

.team-titel{
    font-weight: 700;
    font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 50px;
}
.team-list-titel{
    font-weight: 500;
    font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-item{
    margin-right: 30px;
}
.team-pre-item{
    font-weight: 400;
    font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
.container-main{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: #FFFFFF;

}
.menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 94px;
}
.menu-item{
    margin-right: 8px;
    margin-right: 0;
}
.menu-btn{
font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.menu-btn:hover{
    background-color: #2196F3;
}
.menu-btn:focus,
.menu-btn:hover{
    color: #FFFFFF;
     background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    cursor: pointer;
}
.option-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 94px;
    margin-bottom: 94px;
}

.option-item{
width: 370px;
    
}

.option-title{
    font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
        color: #212121;
        margin-bottom: 4px;
}
.option-pre-title{
    font-weight: 400;
        font-size: 16px;
        line-height: calc(30/16);
        letter-spacing: 0.03em;
         color: #757575;
}
.end{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}
.container-end{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: #2F303A;
}
.logo-pre-title{
    font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.end-address{
    font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.end-address:hover{
    color: #2196F3;
}
.end-list{
    font-style: normal;
    padding: 0;

}

.end-meil{
    font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.end-meil:hover{
    color: #2196F3;
}
.end-tel{
    font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.end-tel:hover{
    color: #2196F3;
}
