body
{
    font-family: 'Roboto',sans-serif;
}
.list {
    list-style: none;
}

.logo{
    background-color: #ffff;
}
.logo-text{
    text-decoration: none;
}
.logo-go{
    text-decoration: none;
}
.logo-list-item{
    text-decoration: none;
}
.contacts-mail{
    text-decoration: none;
}
.contacts-tel{
    text-decoration: none;
}
.end-address{
    text-decoration: none;
}
.end-meil{
    text-decoration: none;
}
.end-tel{
    text-decoration: none;
}
.logo{
    background-color: #FFFFFF;
}



.logo-titel{
    font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
        color: #2196F3;
}
.logo-pre{
font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-list-item{
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
         color: #212121;
}
.logo-list-item:hover{
    color: #2196F3;
}
.contacts-list{

}

.contacts-mail{
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: #757575;
}
.contacts-mail:hover{
    color: #2196F3;
}
.contacts-tel{
    font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: #757575;
}
.contacts-tel:hover{
    color: #2196F3;
}
.osnov{
    background-color: #212121;
}
.osnov-title{
    font-size: 44px;
        line-height: calc(60/44);
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
}
.osnov-btn{
font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.osnov-btn{
    
    background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
.info{
    padding-top: 94px;
}

.info-title{
    font-weight: 700;
    font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.info-pre-item{
    font-weight: 400;
    font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: #757575;
}

.robota-titel{
    font-weight: 700;
    font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.robota{
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-titel{
    font-weight: 700;
    font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.team-list-titel{
    font-weight: 500;
    font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}
.team-pre-item{
    font-weight: 400;
    font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
.menu-btn{
font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.menu-btn:hover{
    background-color: #2196F3;
}
.menu-btn:focus,
.menu-btn:hover{
    color: #FFFFFF;
     background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    cursor: pointer;
}

.option-title{
    font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
        color: #212121
}
.option-pre-title{
    font-weight: 400;
        font-size: 16px;
        line-height: calc(30/16);
        letter-spacing: 0.03em;
         color: #757575;
}
.end{
    background-color: #2F303A;
}
.logo-pre-title{
    font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.end-address{
    font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.end-address:hover{
    color: #2196F3;
}
.end-list{
    font-style: normal;
}

.end-meil{
    font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.end-meil:hover{
    color: #2196F3;
}
.end-tel{
    font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.end-tel:hover{
    color: #2196F3;
}
